body {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-size: 16px;
  color: #010c21;
}

/* site_headerここから */

/* site_headerここまで */

/* ===== mainここから ===== */
/* greetingここから */

/* greetingここまで */

/* contentsここから */

/* contentsここまで */
/* ===== mainここまで ===== */

/* site_footerここから */

/* site_footerここまで */